{% extends 'partials/base.html' %}
{% block title %}Edit page{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-light p-3">
                    <h3 style="color: #333;">Update Item</h3>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <a class="btn btn-secondary" href="{% url 'dashboard-product' %}" 
                            style="background-color: #6c757d; color: #fff;">Cancel</a>
                        <input class="btn btn-info" type="submit" value="Update" 
                            style="background-color: #007bff; color: #fff;">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
